# Place all the behaviors and hooks related to the matching controller here.
# All this logic will automatically be available in application.js.
# You can use CoffeeScript in this file: http://coffeescript.org/

getOrigin = ->
    location.origin || (location.protocol + '//' + location.host + ':' + location.port)

displayActivities = (data) ->
    window.activities = data
    table = $('table#activities')
    td = (s) -> '<td>' + s + '</td>'
    th = (s) -> '<th>' + s + '</th>'
    table.append '<tr>' +
        th('Date') +
        th('Type') +
        th('Name') +
        th('Avg Speed') +
        th('Distance') +
        th('Elapsed Time') +
        th('City') +
        th('Moving Time') +
        '</tr>'
    $(data).each () ->
        table.append '<tr>' +
            td(@start_date_local) +
            td(@type) +
            td(@name) +
            td(@average_speed) +
            td(@distance) +
            td(@elapsed_time) +
            td(@location_city) +
            td(@moving_time) +
            '</tr>'

$(document).on "page:change", ->
    $('#loginStrava').click ->
        window.location = 'https://www.strava.com/oauth/authorize?client_id=<%=ENV['STRAVA_CLIENT_ID']%>&redirect_uri=' + encodeURIComponent(getOrigin() + '/stravaauth') + '&response_type=code&state=' + encodeURIComponent(getOrigin())

    if STRAVA_ACCESS_TOKEN
        $('#loggedInToStrava').removeClass 'hidden'

        $.get "https://www.strava.com/api/v3/athlete/activities", { access_token: STRAVA_ACCESS_TOKEN, per_page: 10 }, ((data) -> displayActivities(data)),
            "jsonp"
    else
        $('#loginToStrava').removeClass 'hidden'

